$color1: rgb(235, 235, 235);
$color2:rgb(245, 245, 245);
$color6: rgb(20, 20, 20);

$defaultRadius: 25px;
$defaultPaddingTop: 7vh;
$defaultPaddingSides: 2vw;
$defaultPadding: 7vh 2vw;

$headerSize: 12vh;

$cardHeight: 30vw;